grumphp:
    process_timeout: null
    tasks:
        composer: ~

        composer_normalize: ~

        phpcsfixer:
            config: .php-cs-fixer.dist.php

        #https://www.php.net/supported-versions.php
        phpversion:
            project: '8.2'

        psalm:
            config: psalm.xml.dist
            show_info: true

        rector: ~

        securitychecker_roave:
            run_always: true
